.container{
    display: flex;
    justify-content: center;
}

.list{
    width: 1024px;
    margin-top: 1rem;
}

.kweetItem{
    border: 1px solid lightgray;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

.kweetItem h1{
    font-size: 2rem;
}